# Datasets folder (and symlink if cluster)
datasets

# Outputs folder
outputs/
submission.csv

# Temporary files
*.pyc
__pycache__/

# Python package caches
dist/
*.egg-info/

# Pycharm
.idea/

# VSC code
.vscode/
